
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container
{
    background-color: #e4c252 ;
    display: flex;
  justify-content: space-between;
    align-items: center;
    padding:  10px ;
    position: sticky;

}

.btn-container
{
    right: 0 auto;
}