.footer {
  width: 100%;
  padding: 15px 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  background-color: #6f4e37;
  color:white;
  border-top: 1px solid #ddd;
}

.footer-sub {
  margin-top: 5px;
  font-size: 13px;
  opacity: 0.8;
}
