body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,  
    rgba(202, 248, 255, 1) 0%, 
    rgba(186, 204, 227, 1) 51.2%, 
    rgba(117, 144, 179, 1) 100.1%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif; 
}